<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="guest/sidemenu.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<header class="navbar navbar-expand navbar-light flex-column flex-md-row admin-navbar">
    <a class="navbar-brand mr-0 mr-md-2" href="#">
        <img src="../img/logo.svg" width="42" height="45"
             class="d-inline-block align-center" alt="Логотип системы">
        Donor System
    </a>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="#">На главную</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Возможность для расширения</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex" hreg="#">
        <li class="nav-item">
            <a class="nav-link" href="#">Выход</a>
        </li>
    </ul>
</header>


<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="navbar-light bg-light col-12 col-md-3 col-xl-2 border-right" id="sidebar">
            <nav class="nav flex-column" id="admin-side-nav">
                <div class="side-element border-bottom">
                    <a class="nav-link active"  href="#">Главная</a>
                </div>
                <div class="side-element border-bottom">
                    <a class="nav-link" data-toggle="collapse" data-target="#myOrganization" href="#">Моя организация</a>
                    <div id="myOrganization" class="collapse">
                        <a class="dropdown-item" href="#">Просмотр</a>
                        <a class="dropdown-item" href="#">Редактировать</a>
                    </div>
                </div>
                <div class="side-element border-bottom">
                    <a class="nav-link" href="#">Списки сдачи</a>
                </div>
                <div class="side-element border-bottom">
                    <a class="nav-link" href="#">Списки сдающих</a>
                </div>
                <div class="side-element border-bottom">
                    <a class="nav-link" href="#">Сотрудники</a>
                </div>
                <div class="side-element" id="up">
                    <i class="fas fa-arrow-circle-up fa-4x ml-5"></i>
                </div>
            </nav>
        </div>